<!DOCTYPE html>
<html data-theme="dark">

<head>
  <title>Pokémon Search</title>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
  <link rel="canonical" href="https://picocss.com/examples/basic-template/">
  <link rel="stylesheet" href="/static/custom.css">
</head>

<body>
  <nav class="container-fluid">
    <ul>
      <li><a href="./" class="contrast" onclick="event.preventDefault()"><strong>Flask Application</strong></a></li>
    </ul>
    <ul>
      <li>
        <details role="list" dir="rtl">
          <summary aria-haspopup="listbox" role="link" class="secondary">Theme</summary>
          <ul role="listbox">
            <li><a href="#" data-theme-switcher="auto">Auto</a></li>
            <li><a href="#" data-theme-switcher="light">Light</a></li>
            <li><a href="#" data-theme-switcher="dark">Dark</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </nav>

  <main class="container">
    <article class="grid">
      <div>
        <hgroup>
          <h1>Pokedex Lite</h1>
          <h2>A simple Pokemon search engine using Pokemon API</h2>
        </hgroup>
        <form action="/search" method="GET">
          <input type="text" id="search-input" name="pokemon_name" placeholder="Enter a Pokémon name">
          <!-- <input type="submit" value="Search"> -->
          <button type="submit" class="contrast">Search</button>
        </form>

        </form>
      </div>
      <div></div>
    </article>
  </main>


  <script>
    $(function () {
      $("#search-input").autocomplete({
        source: function (request, response) {
          $.ajax({
            url: "/autocomplete",
            dataType: "json",
            data: {
              term: request.term
            },
            success: function (data) {
              response(data);
            }
          });
        },
        minLength: 1
      });
    });
  </script>
  <script src="https://picocss.com/examples/js/minimal-theme-switcher.js"></script>
</body>

</html>